:root {
  --white: #fff;
  --bg: #f5f8fa;
  --heading-text: #181c32;
  --text-color1: #5e6278;
  --dark-text: #3f4254;
  --sidebar-text: #8d98af;
  --blue: #3e97ff;
  --blue-bg: #eef6ff;
  --green: #50cd89;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serf;
}

header {
  margin-right: 265px;
}

::-webkit-scrollbar {
  width: 0.7rem;
  opacity: 0;
  margin-top: 70px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #202b46;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #202b46;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--sidebar-text);
}

.brand {
  height: 70px;
  width: 265px;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
  border-bottom: 1px dashed var(--sidebar-text);
  font-weight: bold;
  background-color: #202b46;
  z-index: 1;
}

.collapse {
  font-size: 1.5rem;
  padding: 0.8rem;
  margin-right: 2rem;
  background-color: var(--dark-text);
  color: var(--bg);
  border-radius: 5px;
}

.brand-img {
  width: 11.5rem;
  padding-left: 2rem;
}

.navbar {
  position: fixed;
  height: 70px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px 0px 285px;
  background-color: var(--white);
}

.navbar > ul > li {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-color1);
}

.text-links li {
  margin-left: 1rem;
}

.icon-links li {
  margin-left: 2rem;
}

.navbar i {
  font-size: 1.8rem;
  color: #a1a5b7;
  padding: 10px;
}

.notification {
  position: relative;
}

.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.green-dot {
  border-radius: 50%;
  border: 3.5px solid var(--green);
  position: absolute;
  top: -5px;
  left: 15px;
}

.text-links,
.icon-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  list-style: none;
}

.text-links li {
  padding: 1rem;
  border-radius: 5px;
}

.text-links li:first-of-type,
.text-links li:hover {
  color: var(--blue);
  background-color: var(--blue-bg);
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  background-color: #202b46;
  height: 1500px;
  overflow-x: hidden;
}
.sidebar-links {
  margin-top: 100px;
  padding-bottom: 100px;
}

.sidebar li,
.sidebar p:nth-of-type(1) {
  color: var(--sidebar-text);
  padding-block: 1.2rem;
  font-size: 1.3rem;
  cursor: pointer;
  font-weight: 500;
}

.fortyfive {
  transform: rotate(45deg);
}

.dashboards {
  padding-left: 25px;
}

.dashboards-title-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
  cursor: pointer;
}

.dashboards-title {
  font-size: 1.35rem;
  padding-block: 10px;
  font-weight: 500;
  display: flex;
  width: 110px;
  align-items: center;
  justify-content: space-around;
}

.white {
  color: var(--white);
}

.list-circle {
  list-style: none;
  padding-right: 15px;
}

.active {
  background-color: var(--blue);
  border-radius: 5px;
}

.fa-circle {
  font-size: 0.3rem;
  padding-right: 5px;
  padding-left: 20px;
  position: relative;
  top: -3px;
}

.list-circle > li:hover,
.sidebar-links li:hover {
  color: var(--white);
}

.show-toggle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--sidebar-text);
  padding-left: 2rem;
}

.show-toggle i {
  font-size: 1.5rem;
}

.sidebar-links div > i {
  margin-right: 1.5rem;
}

.pages,
.apps,
.layouts,
.help {
  padding-left: 25px;
}

.pages h2,
.apps h2,
.layouts h2,
.help h2 {
  color: #646477;
  font-size: 1.3rem;
  padding-block: 1rem;
}

.pages li,
.apps li,
.layouts li,
.help li {
  list-style: none;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-weight: 500;
}

.pages--link_group,
.apps--link_group,
.layouts--link_group,
.help--link_group {
  display: flex;
  align-items: center;
}

.bottom-link {
  position: fixed;
  bottom: 0;
  height: 70px;
  background-color: #202b46;
  width: 265px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.bottom-link h4 {
  padding: 1.2rem 4rem;
  text-align: center;
  vertical-align: middle;
  background-color: #35425459;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  color: #b5b5c3;
}

.fa-angle-down {
  font-size: 1rem;
}
.content {
  margin-left: 265px;
  overflow-y: hidden;
  background-color: #f5f8fa;
}

/*
colors
background #f5f8fa
text: #5e6278
text small heading: #3f4254
heading: #181c32
sidebar text: #8d98af
sidebar bg: #202b46
blue: #3e97ff
green and bg: #50cd89 #e8fff3
blue and bg: #3e97ff #eef6ff
yellow bg: #ffc700 #fff8dd
red bg: #f1416c #fff5f8
text and bg: #7e8299 #f5f8fa
pink: #f1416c
dark: #3f4254



*/
